.face {
    width: 48px;
    margin: 14px;
    border-radius: 48px;
    border: 1px solid #ddd;
}

header {
    background-color: #689F38;
}

.small-icon {
    font-size: 0.8em;
}

.full-width {
    width: 100%;
}

.break-words {
    -ms-word-break: break-word;
    word-break: break-word;
}